<div fxLayout="column" fxLayoutAlign="center center" class="addprod">
    <!-- <mat-toolbar class="toolBar" fxLayoutAlign="center center">
        <span>Add New Item</span>
    </mat-toolbar> -->
   
    <div class="productContainer">
        <h2 fxLayoutAlign="center center">Add New Product</h2>
        <form [formGroup]="frmAddProduct">
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field>
                    <mat-label>Product Name</mat-label>
                    <input matInput formControlName="ProductName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="Title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="Description">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="Price">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Product Code</mat-label>
                    <input matInput formControlName="ProductCode">
                </mat-form-field>
               
                <mat-form-field>
                    <mat-label>Product Type</mat-label>
                    <mat-select formControlName="ProductCategoriesId">
                        <mat-option *ngFor="let category of allProdCategory" [value]="category.ProductCategoriesId">{{category.ProductCategory}}</mat-option>
                   </mat-select>
                </mat-form-field>
        
            </div>
            
            <div fxLayout="row">
                <button mat-raised-button color="primary" (click)="addProduct(frmAddProduct.value)">Add Product</button>
            </div>
        </form>
       
    </div>
</div>